/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


h2{
  font-family: 'Changa One';
  font-size: 2.3rem;
  font-weight: 550;
}

.title-animation{
  color: var(--second-color);
  display: block;
  font-size: 2rem;
  padding-right: 6px;
  line-height: 1.1;
  position: relative;
}

.title-animation::before {
  animation-name: var(--animation, a);
  animation-duration: 12s;
  animation-iteration-count: infinite;
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-size: 2rem;
  position: absolute;
  inset: 0;
  content: var(--content);
  opacity: 1;
}

@keyframes a {

  0%,
  16.667%,
  100% {
    opacity: 1;
  }

  33.333%,
  83.333% {
    opacity: 0;
  }
}

@keyframes a2 {

  0%,
  100% {
    opacity: 0;
  }

  33.333%,
  50% {
    opacity: 1;
  }

  16.667%,
  66.667% {
    opacity: 0;
  }
}

@keyframes a3 {
  0%,
  50%,
  100% {
    opacity: 0;
  }

  66.667%,
  83.333% {
    opacity: 1;
  }
}

.tendencias__title{
  font-size: 1.9rem;
  color: #4425D7;
  font-weight: 500;

}

/* .gradient__title:hover{
  background: linear-gradient(to right, #E28EFF, #29ABE2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 */
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root {
  --first-color: #4425D7;
  --second-color: #343a40;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}
/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
  }
  
  ::selection {
    color: red;
    background: yellow;
  }

body { 
    background-color: #fff;
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}


h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 0rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: transparent;
  background-color: #ffffff; 
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.25); 
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background: rgba(0,0,0,0.9);
/*     background-color: var(--second-color); */
    transition: 0.5s;
  }
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  position: relative;
  color: #fff;
}
.nav__link:hover {
  position: relative;
  color: #4425D7 !important;
}
.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
}

/*=== Show menu ===*/
.show {
  right: 0;
}

.nav__logo {
  height: 2.5rem;
  padding: 0.2rem;
}

/* ===== MEDIA QUERIES NAV=====*/
@media screen and (min-width: 768px) {

  .nav {
    height: calc(var(--header-height) + 1rem);
    background-color: transparent!important;
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }

}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .home {
    height: 11rem;
  }
  .section__1 {
    flex-direction: column;
  }
}


/* POPUP */



.popup{
  width: 300px;
  background: #fff;
  border-radius: 30px;
  position: absolute;
/*   top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 30px 30px 30px;
  color:#343a40;
  border: 2px solid #E94B36;
  visibility: hidden;
  line-height: 3rem;
  transition: transform 0.4s, top 0.4s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}



/* SECTIONS */

.header__1{
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;

}



.header__content{
  display: flex; 
  flex-direction: row;
  justify-content: center; 
  width: 100vw; 
  padding: 3rem 1rem 2rem 1rem; 
  text-align: center; 
  gap: 5rem; 
  line-height: 2rem;
  font-weight: 600;
}

.header__text{
  max-width: 850px;
  text-align: center;
  padding: 1rem 0rem 1.8rem 0rem;
  font-size: 1rem;
}

.tendencias__content{
  display: flex; 
  justify-content: center; 
  align-items: center;
  background-color: #ffffff;
/*   padding: 3rem 1rem 2rem 1rem;  */
  text-align: center; 
  gap: 5rem; 
  height: 70vh;
  font-size: 0.9rem;
  line-height: 10px!important;
}

.tendencias__content2{
  display: flex; 
  flex-direction: column;
  justify-content: center!important; 
  align-items: center;
  gap: 1rem; 

  height: 100vh;
padding: 0;

}



.section__1, .section__2, .section__3, .section__4, .section__5, .section__6{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
/*   padding-top: 1rem; */
}

.section__form{
  background-color: #ffffff;
}

.happy-face:hover{
  transform: scale(1.3);
  transition: top .3s ease-in-out;
  top: -10px;
}

.info-A{
  line-height: 1.65em;
}

.box__1{
  background-color: #feee29;
  color: #343a40;
  min-height: 400px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.box___1 h2 {
  text-align: left!important;
  font-size: 2rem;
  margin: 2rem;
}

.box__text {
  margin: 0 auto;
  padding: 2rem 2rem 0rem 2rem;
  font-size: 0.9rem;
  max-width: 550px;
  line-height: 1.5rem;
  text-align: center;
}

.box__2{
  background-color: #fff;
  min-height: 400px;
  width: 50vw;

}

.box__3{
  background-color: #ffffff;
  min-height: 400px;
  width: 50vw;
}

.imagen-cumple {
  object-fit: contain!important;
  background-image: url("assets/bday.png");
  background-repeat: round;
  height: 400px;
  width: 100%;
}

.box__4{
  background-color: #e18eff;
  min-height: 400px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.box__4 h2{
padding-top: 2rem;
}

.box__5{
  background-color: #6ec3e4;
  min-height: 400px;
  width: 50vw;
  display: flex;
  color: #000;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.box__5 h2{
  padding-top: 2rem;
}

.box__6{
  background-color: #fff;
  min-height: 400px;
  width: 50vw;

}

.box__7{
  background-color: #fff;
  min-height: 400px;
  width: 50vw;
}

.box__8{
  background-color: #4472c4;
  min-height: 400px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.box__9{
  background-color: #fff;
  min-height: 400px;
  width: 50vw;
}

.box__10{
  background-color: #a7d898;
  min-height: 400px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #000;
}

.box__11{
  background-color: #faf663;
  min-height: 400px;
  width: 50vw;
  display: flex;
  color: #000;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.box__12{
  background-color: #fff;
  min-height: 400px;
  width: 50vw;
}

.btn-flexibilidad{
  padding-bottom: 0rem!important;
  padding-top: 3rem!important;
}

.btn-box{
  padding-bottom: 1rem!important;
  padding-top: 1rem!important;
}

.bts-section--text{
  padding: 4rem 12rem 4rem 12rem;
}

.cajas{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .cajas{
    flex-direction: column!important;
  } .cajas img {
    padding-bottom: 0!important;
    padding-top: 0!important;
  }
  .animation-title-mob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  } .bts-section--text{
    padding: 2rem!important;
  } .bts-section--container{
    padding-top: 0rem;
  }
  .section__1 {
    flex-direction: column;
  }
  .box__1{
    width: 100vw;
    min-height: auto;
  } .box__1 h2{
    padding-top: 2rem;

  }
  .title-animation{
    padding-right: 0px;
  }
  .btn-flexibilidad{
    margin-bottom: 4rem!important;
  }
  .section__2, .section__3, .section__4, .section__5, .section__6{
    flex-direction: column;
    width: 100vw;
  }
  .section__2, .section__4, .section__5{
    flex-flow: column-reverse;
  }

  .section__info__bottom h2 {
    font-size: 1rem!important;
  }

  .box__2, .box__3, .box__4, .box__5, .box__6, .box__7, .box__8, .box__9, .box__10, .box__11, .box__12{
    min-height: auto;
    width: 100vw;
  } .imagen-cumple{
    height: 400px;
  }.header__content{
    flex-direction: column;
    gap: 1rem;
  } .tendencias__content, .tendencias__content2{    
    flex-direction: column;
  justify-content: center;
    gap: 2rem;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }.header__text{
    margin: 2rem;
    text-align: justify;
    font-size: 1rem;
  } .header__1 h2 {
    font-size: 0.3rem;
    padding-top: 2rem!important;

  } .header__1{
    height: auto;
  }
    
    h2{
    font-size: 1.3rem;
  }.img-ver-tendencias{
    padding-top: 30px;
  }
  button, .btn{
    font-size: 11px!important;
  } .form {
    width: 330px;
    border-radius: none;
    margin: 0 auto;
    padding: 1rem!important;
  } .form div input{
    width: 200px!important;
  } .form .title {
    font-size: 1.2rem;
    width: 300px;
  } .form div {
    text-align: center!important;
  } .section__info__bottom h2 {
    font-size: 1.4rem!important;
  } .tendencias-container{
    flex-direction: column;
  }.tendencias__section__1{
    width: 100%!important;
    padding: 0px 20px 20px 20px!important;
    justify-content: center;
    height: auto!important;
    text-align: center;
  } .tendencias__section__2{
    width: 100%!important;
    padding: 20px!important;
    justify-content: center;
    text-align: center;
  }.slider__container {
    width: 90vw!important;
  }.flex{
    padding-left: 2rem!important;
  } .box__text{
    padding: 1rem;
  }.infancia{
    height: 70vh!important;
  } .bdays .chinchin{
    height: 58vh!important;
  }.chinchin{
    height: 75vh!important;   
} .bts{
  height: 78vh!important;
}.slider__item {
  margin: 0.1rem!important;
}
}


button, .btn {
  position: relative;
  padding: 15px;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: #e18eff;
  color: #fff;
/*   overflow: hidden; */
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-align: center;

/*   min-width: 300px; */
  max-width: 500px;
  cursor: pointer;
}

.btn:hover{
  background-color: #4425D7;
  color: #faf663;
}

button:hover{
  background-color: #4425D7!important;
  color: #faf663!important;
}

/* button:hover, .btn:hover {
  background: #e18eff;
/*   box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815); 
  border-color: #4425D7;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #feee29;
} */

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #e18eff;
/*   background: -webkit-linear-gradient(to right, #e94a36, #6fc4e1);
  background: linear-gradient(to right, #e94a36, #6fc4e1); */
  padding: 30px;
  gap: 1rem;
  border-radius: 30px;
  max-width: 1000px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  text-align: center;
  color: #fff;
  border: 2px solid #feee29;
  border-radius: 30px;
  width: 400px;
  padding: 0rem  0.7rem 0.7rem 0.7rem;
  margin: 0 auto;
  background-color: #e18eff;
}

.description {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  max-width: 400px;
}

.form div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 100rem;
  margin-top: 1rem;
  column-gap: 0.5rem;
}

.form div input {
  outline: none;
  line-height: 1.5rem;
  font-size: 0.875rem;
  color: #fff;

  padding: 0.5rem 0.875rem;
  background-color: rgb(255 255 255 / 0.05);
  border: 1px solid #fff;
  border-radius: 30px;
  flex: 1 1 auto;
  width: 300px;
  text-align: center;
  margin: 10px auto;
}

.form div input::placeholder {
  color: #fff;
}

.form div input:focus {
  border: 1px solid #E94B36;
}

.form div button {
  color: #fff;
  width: 200px;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: rgb(99 102 241);
  border-radius: 0.375rem;
  border: none;
  outline: none;
  margin: 0 auto;
}

.alert {
  margin-bottom: 1em;
  padding: 10px;
  background: #49b0e7;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border-radius: 2.5px;
  display: none;
}

.section__info__bottom{
  background-image: url('assets/bg-bottom.png');
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}




.section__info__bottom h2 {
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: #E94B36;
  padding: 1.4rem;
  width: 20rem;
  border-radius: 40px;
  border: 3px solid #4425D7;
}

.section__info__bottom h2:hover{
  color: #feee29;
}

.tendencias-container{
  display: flex;
  justify-content: center;
  padding-top: 0rem;
}

.tendencias__section__1{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
/*   height: 85vh; */
  color: var(--second-color);
  width: 50%;
}

.tendencias__section__1 h2 {
  padding: 0;
}

.tendencias__section__2{
  padding-top: 3rem;
  background-color: #6ec3e4;
  width: 50%;
}

/* SLIDER HOME*/

.slider {
  position: relative;
}

.slider__container {
  cursor: grab;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.slider__container.dragging {
  scroll-behavior: auto;
  cursor: grabbing;
}

.slider__item {
  padding: 10px 18px;
  margin: 1rem;
  flex: 0 0 auto;
  width: calc(100% / 5);
  border-radius: 30px;
  border: 1px solid #e18eff;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.slider__container[data-step="4"] .slider__item {
  width: calc(100% / 4);
}

.slider__container[data-step="3"] .slider__item {
  width: calc(100% / 3);
}

.slider__container[data-step="2"] .slider__item {
  width: calc(100% / 2);
}

.slider__container[data-step="1"] .slider__item {
  width: calc(100% / 1);
}

@media screen and (max-width: 1024px) {
  .slider__item,
  .slider__container[data-step="4"] .slider__item {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 768px) {
  .slider__item,
  .slider__container[data-step="4"] .slider__item,
  .slider__container[data-step="3"] .slider__item {
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 480px) {
  .slider__item,
  .slider__container[data-step="4"] .slider__item,
  .slider__container[data-step="3"] .slider__item,
  .slider__container[data-step="2"] .slider__item {
    width: calc(100% / 1);
  }
}

.slider__control {
  font-size: 16px;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #000;
  background: #4425D7;
  cursor: pointer;
  opacity: .5;
  transition: all .3s;
}

.slider__control.prev {
  left: 16px;
}

.slider__control.next {
  right: 16px;
}

.slider__control:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

.slider__item img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
  display: block;
}

.slider2 {
  width: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;
  padding-bottom: 3rem;
}

.slider2 .slide2-track {
  display: flex;
  animation: scroll 100s linear infinite;
  -webkit-animation: scroll 100s linear infinite;
  width: calc(600px * 10);
}

.slider2 .slide2 {
  width: 2500rem;
}

.slider2 .slide2 img {
  width: 120%!important;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-600px * 5));
      transform: translateX(calc(-600px * 5));
  }
}